/* unvisited link */


a:link {
  display: inline-block;
  background-color: #ed2431;
  color: #FFFFFF;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  opacity: 0.9;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  background-color: #e64751;
}

/* selected link 
a:active {
  color: blue;
}*/

.padded{
	padding = 10vh;
}